# This file lists the locations and values of all the motif databases bgz
# and tbi files. This file has the format (white space characters are TAB
# characters)
# <value>		<display_name>	<file_path>
#
# So, motif_databases.loc could look something like this:
#
# test_bgz	  Test Encode Motifs (hg19) BGZ	  /<path_to_galaxy>/tool-data/motifs/pouya_test_motifs.bed.bgz
# test_tbi    Test Encode motifs (hg19) TBI    /<path_to_galaxy>/tool-data/motifs/pouya_test_motifs.bed.bgz.tbi
